*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 15px 1px lightgray;
    height: 70px;
}
.nav-items{
    margin: 0 25px 0px 25px;
    padding: 20px;
}
.nav-items a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
}
.signin{
    background-color: #e8f8fd;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    padding: 7px 20px 7px 17px;
    transition: all linear .5s;
    border: 1px solid #66d6ff;
    /* margin: 0px 20px 0px 20px; */
}

.signup{
    background-color: deepskyblue;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    line-height: 1.4;
    border-radius: 30px;
    padding: 7px 12px 7px 17px;
    transition: all linear .5s;
    margin: 0px 0px 0px 5px;
}
.login i{
    font-size: 12px;
}
.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.left-container{
    margin: 0px 150px 0px 150px;
}
.left-container img{
    width: 170px;
}
.left-container h1{
    font-size: 36px;
    font-weight: 900;
}
.left-container button{  
    background-color: #002970;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    line-height: 1.4;
    border-radius: 30px;
    padding: 15px 30px;
    transition: all linear .5s;
}
.left-container a{
    text-decoration: none;
    color: #002970;
    font-weight: 600;
    margin-left: 10px;
}
.right-container{
    margin-top: 75px;
}
.container2{
    width: 95%;
    margin: 100px auto;
    text-align: center;
}
.fixedbar{
    background: linear-gradient(91.79deg,#1158b3 35.5%,#0e4699 69.02%,#0c3480 96.45%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
}

.fixedbar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 30px;
}
a:hover{
    
    background-color: rgba(0,0,0,0.1);
    transition-property: ease-in-ease-out;
    
}
.active{
    background: white;
    color: black !important;

}
.active:hover{
    background-color: white;
}
.fixedbar i{
    font-size: 10px;
}
.heading{
    width: 50%;
    margin: 100px auto;
    font-size: 20px;
    font-weight: 900;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.grid-items{
    margin: 30px;
}
.reliable{
    background-color: #f5f7fa;
    font-size: 20px;
    margin-top: 100px;
    padding: 100px
}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 20px; */
}
.count{
    font-size: 22px;
    line-height: 46px;
    font-weight: 700;
    background-color: #039;
    background-image: linear-gradient(45deg,#039,#0cf);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-bottom: 13px;
    text-align: center;
}
.items2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 20px; */
}
.mid-container{
    background: linear-gradient(127.11deg,#0085fe .45%,#00c6f0 99.14%);
    color: white;
}